:root {
    --background: black;
    --width: 100px;
    --height: 100px;
    --background-color: #ff8800;
    --border-radius: 50px;
}

body {
    background-color: var(--background);
}

.ball {
    width: var(--width);
    height: var(--width);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}
