* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

:root {
    --spacing: 1rem;
}

button:hover { 
    color: yellow;
    background-color: green;
}

button {
     color: rgb(34, 149, 78);
     background: rgb(15, 48, 60);
     height: 30px;
     border-color: rgb(34, 149, 78);
     font-weight: bold;
     display: flex;
     align-items: center;
     border-radius: 10%;
     font-size: medium;
}

div {
    display: flex;
    background-color: rgb(15, 48, 60);
    color: white;
    word-spacing: var(--spacing);
    width: 100%;
    height: 20%;
    align-items: center;
    gap: 1em;
}

a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    font-size: medium;
    margin-top: 5px;
}


input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: medium;
    margin-left: 7%;
}

.Navbar {
    font-size: large; 
}

.dropdown {
    background: rgb(15, 48, 60);
    color: white;
    border: none;
    margin-top: 5px;
    font-size: medium;
}

.barra {
    display: flex;
    justify-content: flex-end;
    width: 30%;  
}

.menu {
    display: none;
}


@media (max-width: 768px) {
    div {
        display: none;
    }

    .barra {
        display: block;
    } 

    .menu {
        display: flex;
        height: 100%;
        width: 100%;
        background: rgb(15, 48, 60);
        flex-direction: column;
    }


}


 
  
  
  
  
  
  




