.card {
    height: 50%;
    width: 40%;
    border: 1px solid rgb(111, 111, 150);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h2 {
    padding-left: 5%;
}

p {
    padding-left: 5%;
}




