* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}

section {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    padding-left: 10%;
}

div {
    height: 70%;
    width: 30%;
    border: 1px solid black;
    background-image: linear-gradient(grey, white);
    border-radius: 5%;
    box-shadow: 0px 3px 3px #0a00004d;
}

.logo {
    width: 10%;
    height: 5%;
    border-radius: 50%;
}

.gattini {
    width: 100%;
    height: 30%;
}

main {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

p {
    height: 20%;
    width: 80%;
    padding: 5px;
}

time {
    font-weight: bold;
    color: white;
}

article {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 1024px) {
    section {
        flex-direction: column; /* Cambia la direzione dei div in verticale */
    }

    div {
        width: 60%; 
        margin-bottom: 1rem; 
    }
}







